/* frontend/src/assets/main.css */

/* Basis-Styles */
:root {
    color-scheme: dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #020617; /* same dark background */
    color: #e5e7eb;
}

/* #app soll einfach nur den Inhalt halten, kein Grid mehr */
#app {
    min-height: 100vh;
}